# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# VS Ordner
.vs

# VS Data
Simple-Chess-Game/Simple-Chess-Game.vcxproj
Simple-Chess-Game/Simple-Chess-Game.vcxproj.filters
Simple-Chess-Game/Simple-Chess-Game.vcxproj.user
Simple-Chess-Game/Debug
Simple-Chess-Game/Simple-Chess-Game.sln
Simple-Chess-Game/enc_temp_folder